
 #ex1{
    width:200px;
    height:100px;
    border:3px green solid;

 }

#ex2{
    width:150px;
    height:150px;
    background-color: blue;

 }

 #ex3{
    color:red;
    font-family:Arial;
    font-size:20px;

    
    
 }
 #ex4{
    text-align: center;
    color:purple

 }
#ex5{
    background-color:#eeee;
    padding: 25px;

}

#ex6a{
    width:100px;
    height:100px;
    background:orange;
    margin-bottom: 30px;
}
#ex6b{
      width:100px;
    height:100px;
    background:orange;
}

#ex7{
    width:100px;
    height:100px;
    background-color: black;
    border-radius: 50px;
}
#ex8{
    width: 500px;
    height: 50px;
    border: 2px cyan dashed;
}

.texto-importante{
    font-weight: bold;
}
a{
    text-decoration: none;
   
}
a:hover{
    color:red
}