.container-centrral{
height:100vh;
display: flex;
justify-content: center;
align-items: center;
}
.caixa-login{
    width:300px;
    height:200px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
        margin:50px auto;
    
}

ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: right 15px;
    padding:10px #333 
    


    
}
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    display: flex;         
    list-style: none;      
    padding: 0;
}

nav ul li {
    margin-right: 15px;    
}

nav ul li a {
    color: white;          
    text-decoration: none; 
}

.container-pagina{
    display:flex;
    height: 300px;
}
aside{
    background-color: black;
    width: 10vh;
    padding: 20px;
    border:black;
    text-align: center;
    align-content: center;
    font-size:10vh;
    color:red;
    height:100vh;
    writing-mode: vertical-rl;
    text-orientation: upright;

}
main{
      background-color: red;
    width: 90vh;
    padding: 20px;
    flex-grow: 1;
    border: black;
    text-align: center;
    align-content: center;
    font-size:10vh;
    color:black
}   
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

header {
    background-color: red;
    padding: 20px;
    height:10vh;
    text-align: center;
    box-sizing: border-box;
}

main {
    flex-grow: 1; 
    height:80vh;
    background-color: orange;
    text-align: center;
     box-sizing: border-box;
     width:100vh;
}

footer {
    background-color: yellow;
    height:10vh;
    padding: 20px;
    text-align: center;
     box-sizing: border-box;
}

