.container-centrral{
height:100vh;
display: flex;
justify-content: center;
align-items: center;
}
.caixa-login{
    width:300px;
    height:200px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
        margin:50px auto;
    
}

ul{
    display: flex;
    list-style: none;
    margin: right 15px;
    padding:10px #333 
    


    
}